<h1>Patients#create</h1>
<p>Find me in app/views/patients/create.html.erb</p>
 
<%= form_for @patient do |f|  %>
<label> Patient Name </label>
<br>
<%= f.text_field :name %>
<br>
<br>
<%= f.submit %>
<% end %>