<h1>Patients index</h1>

<% @patients.each do |patient| %>
  <p>
    <%= link_to(patient.name, patient_path(patient.id)) %> -
    <%= link_to("Edit", edit_patient_path(patient.id)) %> -
    <%= link_to("Delete", patient_path(patient.id), :method => :delete) %>
  </p>
<% end %>

<p>
<%= link_to "New Patient", new_patient_path %>
</p>
