<h1>Doctors index</h1>

<% @doctors.each do |doctor| %>
  <p>
    <%= link_to(doctor.name, doctor_path(doctor.id)) %> -
    <%= link_to("Edit", edit_doctor_path(doctor.id)) %> -
    <%= link_to("Delete", doctor_path(doctor.id), :method => :delete) %>
  </p>
<% end %>

<p>
<%= link_to "New Doctor", new_doctor_path %>
</p>
